{% load wall_tags %}

{% get_categories as categories %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">PublicNotes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Категории
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for item in categories%}
                        <li><a class="dropdown-item" href="{{item.get_absolute_url }}">{{ item.title }}</a></li>
                        {% endfor %}

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Добавить заметку</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Авторы</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
