{% extends 'base.html' %}

{% block title %}О проекте{% endblock %}

{% block sidebar %}
    <div>
        <ul class="list-group">
            <li class="list-group-item"><a class="nav-link text-purple" href="#idea">Идея</a></li>
            <li class="list-group-item"><a class="nav-link text-purple" href="#functionality">Функциональность</a></li>
            <li class="list-group-item"><a class="nav-link text-purple" href="#releases">Версии</a></li>
            <li class="list-group-item"><a class="nav-link text-purple" href="#author">Автор</a></li>
            <li class="list-group-item"><a class="nav-link text-purple" href="#project">Проект</a></li>
        </ul>
    </div>
{% endblock %}

{% block content_title %}
    <div class="hstack gap-3 mb-3">
        <div>
            <h1 id="about">О проекте</h1>
        </div>
        <div>
            <h2><span class="badge bg-info">v1.1.0</span></h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="bg-light fs-5">
        <h2 id="idea">Идея:</h2>
        <p><span class="fw-bold">PublicNotes</span> - место, где каждый может оставить заметку на общей стене.</p>
        <h2 id="functionality">Функциональность:</h2>
        <ul>
            <li>Заметки:
                <ul>
                    <li>Отображение одним списком (главная страница)</li>
                    <li>Отображение по категориям. Каждая заметка может принадлежать одной категории</li>
                    <li>Отображение по тегам. Каждая заметка может иметь несколько тегов</li>
                    <li>Счётчик кол-ва просмотров</li>
                    <li>Поиск по названиям</li>
                    <li>Добавление публичных и приватных заметок</li>
                    <li>Возможность закреплять заметки (закреплённые заметки будут отображаться сверху списка на
                        странице
                        профиля)
                    </li>
                    <li>Рейтинговая система: каждый лайк повышает рейтинг на 1, каждый дизлайк - уменьшает</li>
                    <li>Редактирование</li>
                    <li>Удаление</li>
                </ul>
            </li>
            <li>Отображение списка авторов</li>
            <li>Профиль:
                <ul>
                    <li>Регистрация</li>
                    <li>Подтверждение e-mail по одноразовой ссылке</li>
                    <li>Отображение профиля и заметок</li>
                    <li>Рейтинговая система: рейтинг пользователя - сумма рейтингов его публичных заметок</li>
                    <li>Изменение данных профиля</li>
                    <li>Смена пароля</li>
                    <li>Удаление</li>
                </ul>
            </li>
            <li>Категории:
                <ul>
                    <li>Отображение категорий в виде списка с различными уровнями вложенности</li>
                    <li>Каждая категория может иметь подкатегории. Заметки могут относиться как к родительской, так и к
                        дочерним категориям
                    </li>
                </ul>
            </li>
            <li>Поддержка русского и английского языков</li>
        </ul>
        <h2 id="releases">Версии:</h2>
        <div class="accordion" id="accordionPanelsStayOpenExample">

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                        v1.1.0
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                     aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <ul>
                            <li>Исправлены ошибки</li>
                            <li>
                                Общее:
                                <ul>
                                    <li>Добавлена поддержка английского языка в интерфейсе</li>
                                    <li>Добавлены тесты</li>
                                    <li>Добавлена возможность запускать сервер в Docker с использованием Docker
                                        compose
                                    </li>
                                    <li>Переведена и улучшена документация</li>
                                    <li>Оптимизированы запросы к БД</li>
                                    <li>СУБД сменена на PostgreSQL</li>
                                </ul>
                            </li>
                            <li>Заметки:
                                <ul>
                                    <li>Добавлен поиск по названиям заметок</li>
                                    <li>Добавлена возможность создавать приватные заметки</li>
                                    <li>Добавлено отслеживание кол-ва просмотров у заметок</li>
                                    <li>Отредактированные заметки помечаются фразой "изменено" возле даты создания</li>
                                    <li>Добавлена возможность закреплять заметки в профиле</li>
                                    <li>Добавлена рейтинговая система для заметок</li>
                                    <li>На странице заметки добавлена кнопка "Редактировать" для авторов заметки</li>
                                </ul>
                            </li>
                            <li> Категории и теги:
                                <ul>
                                    <li>К категориям добавлены картинки</li>
                                    <li>На странице категории добавлена кнопка "Добавить заметку", позволяющая создать
                                        заметку
                                        сразу в данной категории
                                    </li>
                                    <li>Добавлена возможность создавать подкатегории в каждой категории</li>
                                    <li>Убрана возможность создавать категории пользователям. Категории может создавать
                                        только
                                        админ
                                    </li>
                                    <li>Добавлены теги. Каждая заметка может содержать несколько тегов. Добавлена
                                        возможность
                                        просматривать статьи по тегам
                                    </li>
                                    <li>В меню пагинации добавлены ссылки на первую и на последнюю страницы</li>
                                </ul>
                            </li>
                            <li>
                                Пользователи:
                                <ul>
                                    <li>Добавлена функциональность отправки электронных писем для подтверждения e-mail
                                        после регистрации
                                    </li>
                                    <li>Добавлена рейтинговая система для профилей</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <h2 id="author">Автор:</h2>
        <ul>
            <li><a class="text-decoration-none text-purple" href="https://github.com/Yu-Leo" target="_blank">GitHub</a>
            </li>
            <li><a class="text-decoration-none text-purple" href="https://t.me/yu_leo" target="_blank">Telegram</a></li>
        </ul>
        <h2 id="project">Проект:</h2>
        <ul>
            <li><a class="text-decoration-none text-purple" href="https://github.com/Yu-Leo/public-notes/"
                   target="_blank">GitHub</a>
            </li>

        </ul>
    </div>
{% endblock %}