{% extends 'base.html' %}

{% block title %}О сайте{% endblock %}

{% block sidebar %}{% endblock %}

{% block content_title %}
<div class="hstack gap-3">
    <h1 class="mb-3">О проекте</h1>
</div>
{% endblock %}

{% block content %}
<div class="bg-light fs-5">
    <h2>Идея:</h2>
    <p> PublicNotes - место, где каждый может оставить заметку на общей стене.</p>

    <h2>Функциональность:</h2>
    <ul>
        <li>Отображение заметок одним списком (главная страница)</li>
        <li>Отображение заметок по категориям</li>
        <li>Отображение списка авторов</li>
        <li>Аккаунт:
            <ul>
                <li>Регистрация</li>
                <li>Отображение профиля</li>
                <li>Изменение данных профиля</li>
                <li>Добавление заметок</li>
            </ul>
        </li>
    </ul>

    <h2>Используемые технологии:</h2>
    <ul>
        <li>
            BackEnd:
            <ul>
                <li>Язык программирования: <span class="fw-bold">Python (3.10)</span></li>
                <li>Фреймворки и библиотеки:
                    <ul>
                        <li><span class="fw-bold">Django (3.0.2)</span></li>
                        <li class="fw-bold">django_debug_toolbar (2.2)</li>
                    </ul>
                </li>
            </ul>

        </li>

        <li>
            FrontEnd:
            <ul>
                <li>Языки: <span class="fw-bold">html, css</span></li>
                <li>Фреймворки и библиотеки:
                    <ul>
                        <li class="fw-bold">Bootstrap 5</li>
                    </ul>
                </li>
            </ul>

        </li>
        <li>Система контроля версий: <span class="fw-bold">git</span></li>
        <li>IDE: <span class="fw-bold">JetBrains PyCharm Community</span></li>
    </ul>


    <h2>Полезные ссылки:</h2>
    <ul>
        <li><a class="text-decoration-none text-purple" href="https://djangoproject.com/" target="_blank">Официальный
            сайт
            Django</a></li>
        <li><a class="text-decoration-none text-purple" href="https://djbook.ru/" target="_blank">Русскоязычный сайт по
            Django</a></li>
        <li><a class="text-decoration-none text-purple" href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
        </li>
    </ul>
    <h2 id="author">Автор:</h2>
    <ul>
        <li><a class="text-decoration-none text-purple" href="https://github.com/Yu-Leo" target="_blank">GitHub</a></li>
        <li><a class="text-decoration-none text-purple" href="https://t.me/yu_leo" target="_blank">Telegram</a></li>
    </ul>
    <!--
    <h2>Проект:</h2>
    <ul>
        <li><a class="text-decoration-none text-purple" href="#" target="_blank">GitHub</a></li>
    </ul>
    -->
</div>


{% endblock %}