{% extends 'base.html' %}

{% block title %}О проекте{% endblock %}

{% block sidebar %}
<div class="sticky-top">
    <ul class="list-group">
        <li class="list-group-item"><a class="nav-link text-purple" href="#idea">Идея</a></li>
        <li class="list-group-item"><a class="nav-link text-purple" href="#functionality">Функциональность</a></li>
        <li class="list-group-item"><a class="nav-link text-purple" href="#releases">Версии</a></li>
        <li class="list-group-item"><a class="nav-link text-purple" href="#technologies">Используемые технологии</a>
        </li>
        <li class="list-group-item"><a class="nav-link text-purple" href="#links">Полезные ссылки</a></li>
        <li class="list-group-item"><a class="nav-link text-purple" href="#author">Автор</a></li>
        <li class="list-group-item"><a class="nav-link text-purple" href="#project">Проект</a></li>
    </ul>
</div>
{% endblock %}

{% block content_title %}
<div class="hstack gap-3 mb-3">
    <div>
        <h1 id="about">О проекте</h1>
    </div>
    <div>
        <h2><span class="badge bg-info">v1.0.1</span></h2>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="bg-light fs-5">
    <h2 id="idea">Идея:</h2>
    <p><span class="fw-bold">PublicNotes</span> - место, где каждый может оставить заметку на общей стене.</p>
    <h2 id="functionality">Функциональность:</h2>
    <ul>
        <li>Заметки:
            <ul>
                <li>Отображение одним списком (главная страница)</li>
                <li>Отображение по категориям</li>
                <li>Поиск по названиям</li>
                <li>Добавление</li>
                <li>Редактирование</li>
                <li>Удаление</li>
            </ul>
        </li>
        <li>Отображение списка авторов</li>
        <li>Профиль:
            <ul>
                <li>Регистрация</li>
                <li>Отображение профиля и заметок</li>
                <li>Изменение данных профиля</li>
                <li>Смена пароля</li>
                <li>Удаление профиля</li>
            </ul>
        </li>
        <li>Категории:
            <ul>
                <li>Отображение списка</li>
                <li>Добавление</li>
            </ul>
        </li>
    </ul>
    <h2 id="releases">Версии:</h2>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                    v1.0.1
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                 aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <ul>
                        <li>Добавлен поиск по названиям заметок</li>
                        <li>К категориям добавлены картинки</li>
                        <li>На странице категории добавлена кнопка "Добавить заметку", позволяющая создать заметку
                            сразу в данной категории
                        </li>
                        <li>Исправлен баг с отсутствием меню навигации на мобильных устройствах</li>
                        <li>Исправлен баг с меню навигации на странице "О проекте"</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h2 id="technologies">Используемые технологии:</h2>
    <ul>
        <li>
            BackEnd:
            <ul>
                <li>СУБД: <span class="fw-bold">SQLite3</span></li>
                <li>Язык программирования: <span class="fw-bold">Python (3.10)</span></li>
                <li>Фреймворки и библиотеки:
                    <ul>
                        <li><span class="fw-bold">Django (3.1.14)</span></li>
                        <li class="fw-bold">django_debug_toolbar (2.2.1)</li>
                    </ul>
                </li>
                <li>Веб-сервер: <span class="fw-bold">gunicorn</span></li>
            </ul>
        </li>
        <li>
            FrontEnd:
            <ul>
                <li>Языки: <span class="fw-bold">html, css</span></li>
                <li>Фреймворки и библиотеки:
                    <ul>
                        <li class="fw-bold">Bootstrap 5</li>
                    </ul>
                </li>
            </ul>

        </li>
        <li>Система контроля версий: <span class="fw-bold">git</span></li>
        <li>IDE: <span class="fw-bold">JetBrains PyCharm Community</span></li>
    </ul>
    <h2 id="links">Полезные ссылки:</h2>
    <ul>
        <li><a class="text-decoration-none text-purple" href="https://djangoproject.com/" target="_blank">Официальный
            сайт
            Django</a></li>
        <li><a class="text-decoration-none text-purple" href="https://djbook.ru/" target="_blank">Русскоязычный сайт по
            Django</a></li>
        <li><a class="text-decoration-none text-purple" href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
        </li>
    </ul>
    <h2 id="author">Автор:</h2>
    <ul>
        <li><a class="text-decoration-none text-purple" href="https://github.com/Yu-Leo" target="_blank">GitHub</a></li>
        <li><a class="text-decoration-none text-purple" href="https://t.me/yu_leo" target="_blank">Telegram</a></li>
    </ul>
    <h2 id="project">Проект:</h2>
    <ul>
        <li><a class="text-decoration-none text-purple" href="https://github.com/Yu-Leo/public-notes/" target="_blank">GitHub</a>
        </li>
        <li><a class="text-decoration-none text-purple" href="https://ylpn.herokuapp.com/"
               target="_blank">Heroku deploy</a>
        </li>

    </ul>
</div>
{% endblock %}