{% extends 'base.html' %}

{% block title %}Добавить заметку{% endblock %}

{% block sidebar %}{% endblock %}


{% block content_title %}
<div class="hstack gap-3">
    <h1 class="mb-3">Добавить заметку</h1>
</div>
{% endblock %}


{% block content %}

<form action="{% url 'add_note' %}" method="post">
    {% csrf_token %}

    <div class="border border-info border-1 rounded p-3 bg-white mb-3">
        <h3>Автор:</h3>
        {{ author_form.as_p }}
    </div>


    <div class="border border-info border-1 rounded p-3 bg-white mb-5">
        <h3>Заметка:</h3>

        {{ note_form.as_p }}

        <button type="submit" class="btn btn-primary btn-block">Добавить заметку</button>
    </div>

</form>


{% endblock %}