{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'AddNote' %}{% endblock %}

{% block sidebar %}{% endblock %}


{% block content_title %}
    <div class="hstack gap-3 mb-3">
        <div>
            <h1>{% trans 'AddNote' %}</h1>
        </div>
    </div>
{% endblock %}


{% block content %}
    <form action="{% url 'add_note' %}" method="post">
        {% csrf_token %}
        <div class="border border-purple border-1 rounded p-3 bg-white mb-5">
            <h3>{% trans 'Note' %}:</h3>
            {{ note_form.as_p }}
            <button type="submit" class="btn btn-purple btn-block">{% trans 'AddNote' %}</button>
        </div>
    </form>

{% endblock %}