{% extends 'base.html' %}

{% load wall_tags %}

{% block title %}{{ author.username }}{% endblock %}

{% block sidebar %}
<div class="card">
    <img src="{% if author.photo %}
                {{ author.photo.url }}
                {% else %}
                {% load static %}
                {% static 'wall/img/default_avatar.png' %}
                {% endif %}" alt="..."
         style="border-radius: 50%; padding: 10px;">

    <div class="card-body">
        <h4 class="card-title"><span class="fw-bold">{{ author.username }}</span></h4>
        <h5><span class="fw-light">
            {% if author.first_name %}
            {{ author.first_name }}
            {% endif %}
            {% if author.last_name %}
            {{ author.last_name }}
            {% endif %}</span></h5>
        {% if request.user == author %}
        <a href="{% url 'edit_profile' %}" class="btn btn-outline-purple d-block">Редактировать профиль</a>
        {% endif %}
    </div>

    <ul class="list-group list-group-flush">

        {% if author.show_email %}
        <li class="list-group-item">
            <p class="card-text"><span class="text-secondary"> E-mail: </span>{{ author.email }}</p>
        </li>
        {% endif %}

        {% if author.bio %}
        <li class="list-group-item">
            <p class="card-text"><span class="text-secondary"> О себе: </span>{{author.bio}}</p>
        </li>
        {% endif %}

        <li class="list-group-item"><span class="text-secondary">Заметок: </span><span class="fw-bold">
                        {% get_notes_count_for_author author %} </span></li>

        <li class="list-group-item"><span class="text-secondary">Рейтинг: </span><span class="
                        {% if item.rating > 0 %}
                        text-success
                        {% elif item.rating < 0 %}
                        text-danger
                        {% else %}
                        {% endif %}
                        fw-bold"> {{ author.rating }}
                    </span>
        </li>
    </ul>
</div>
{% endblock %}

{% block content_title %}
<div class="hstack gap-3 mb-3">
    <div>
        <h1>Заметки</h1>
    </div>
    {% if request.user == author%}
    <div>
        <a href="{% url 'add_note' %}" class="btn btn-outline-purple">Добавить заметку</a>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block content %}

{% for item in page_obj %}
<div class="card mb-3">

    <div class="card-header">
        <div class="hstack gap-3">
            <div class="">
                <img src="{% if item.author.photo %}
                {{ item.author.photo.url }}
                {% else %}
                {% load static %}
                {% static 'wall/img/default_avatar.png' %}
                {% endif %}" alt="..." width="50" height="50"
                     style="border-radius: 25px;">
            </div>
            <div class="fw-bold">
                {% if item.author %}
                <a href="{{ item.author.get_absolute_url }}" class="text-decoration-none text-purple">
                    {{ item.author.username }}</a>
                {% else %}
                Аноним
                {% endif %}
            </div>

            <div class="fw-light">{{ item.created_at|date:"d.m.Y H:i" }}</div>
            <div class="">
                {% if item.stared %}
                <i class="fa fa-star"></i>
                {% endif %}
            </div>
            <div class="">
                {% for tag in item.tags.all %}
                <a href="{{ tag.get_absolute_url }}"
                   class="badge rounded-pill text-bg-primary text-decoration-none me-1">
                    {{ tag.title }}</a>
                {% endfor %}
            </div>
            {% if request.user == author %}
            <div class="ms-auto me-2">
                <a href="{% url 'edit_note' item.pk %}" class="text-purple"><i class="fa fa-pencil"></i></a>
            </div>
            {% endif %}

        </div>
    </div>

    <div class="card-body" style="transform: rotate(0);">
        <h5 class="card-title">{{ item.title|truncatewords:10 }}</h5>
        <p class="card-text">{{ item.content|truncatewords:30 }}</p>
        <a href="{{ item.get_absolute_url }}" class="btn btn-purple stretched-link">Открыть</a>
    </div>

    <div class="card-footer">
        <div class="hstack gap-3">
            {% if item.rating > 0 %}
            <div class="text-success fw-bold">+{{item.rating}}</div>
            {% elif item.rating < 0 %}
            <div class="text-danger fw-bold">{{item.rating}}</div>
            {% else %}
            <div class="fw-bold">{{item.rating}}</div>
            {% endif %}


            {% if item.category %}
            <div class=""><span class="">Категория: </span><a href="{{ item.category.get_absolute_url }}"
                                                              class="text-decoration-none text-dark fw-bold">
                {{ item.category.title }}</a></div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}