{% extends 'base.html' %}

{% load wall_tags %}

{% block title %}{{ author.username }}{% endblock %}

{% block sidebar %}
<div class="card">
    <img src="{% if author.photo %}
                {{ author.photo.url }}
                {% else %}
                {% load static %}
                {% static 'wall/img/default_avatar.png' %}
                {% endif %}" alt="..."
         style="border-radius: 50%; padding: 10px;">

    <div class="card-body">
        <h4 class="card-title"><span class="fw-bold">{{ author.username }}</span></h4>
        <h5><span class="fw-light">
            {% if author.first_name %}
            {{ author.first_name }}
            {% endif %}
            {% if author.last_name %}
            {{ author.last_name }}
            {% endif %}</span></h5>
        {% if is_self %}
        <a href="{% url 'edit_profile' %}" class="btn btn-outline-purple d-block">Редактировать профиль</a>
        {% endif %}
    </div>

    <ul class="list-group list-group-flush">

        {% if author.show_email %}
        <li class="list-group-item">
            <p class="card-text"><span class="text-secondary"> E-mail: </span>{{ author.email }}</p>
        </li>
        {% endif %}

        {% if author.bio %}
        <li class="list-group-item">
            <p class="card-text"><span class="text-secondary"> О себе: </span>{{ author.bio }}</p>
        </li>
        {% endif %}

        <li class="list-group-item"><span class="text-secondary">Заметок: </span><span class="fw-bold">
                        {% get_notes_count_for_author author %} </span></li>

        <li class="list-group-item"><span class="text-secondary">Рейтинг: </span><span class="
                        {% if item.rating > 0 %}
                        text-success
                        {% elif item.rating < 0 %}
                        text-danger
                        {% else %}
                        {% endif %}
                        fw-bold"> {{ author.rating }}
                    </span>
        </li>
    </ul>
</div>
{% endblock %}

{% block content_title %}
<div class="hstack gap-3 mb-3">
    <div>
        <h1>Заметки</h1>
    </div>
    {% if is_self %}
    <div>
        <a href="{% url 'add_note' %}" class="btn btn-outline-purple">Добавить заметку</a>
    </div>
    {% endif %}
</div>
{% endblock %}


{% block content %}

{% for item in page_obj %}
{% one_note item allow_edit=is_self in_profile=True %}
{% endfor %}

{% endblock %}