{% extends 'base.html' %}
{% load i18n %}
{% load mptt_tags %}

{% block title %}{% trans 'Categories' %}{% endblock %}

{% block sidebar %}{% endblock %}


{% block content_title %}
    <div class="hstack gap-3 mb-3">
        <div>
            <h1>{% trans 'Categories' %}</h1>
        </div>
    </div>
{% endblock %}


{% block content %}

    <div class="mb-4">
        {% recursetree categories %}
            <div>
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="hstack gap-3">
                            <div>
                                {% if node.preview %}
                                    <img src="{{ node.preview.url }}" alt="" width="100px" class="rounded">
                                {% else %}
                                {% endif %}
                            </div>
                            <div>
                                <h5><a href="{{ node.get_absolute_url }}"
                                       class="text-decoration-none text-purple stretched-link">{{ node.title }}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>

                {% if not node.is_leaf_node %}
                    <div class="children ps-5">
                        {{ children }}
                    </div>
                {% endif %}
            </div>
        {% endrecursetree %}

    </div>
{% endblock %}