{% extends 'base.html' %}


{% block title %}Категория: {{ category.title }}{% endblock %}

{% block sidebar %}{% endblock %}


{% block content_title %}
<div class="mb-3">
    <div class="hstack gap-3 mb-1">
        <div>
            <h1>Категория: {{ category.title }}</h1>
        </div>
        <div>
            <a href="{% url 'add_note' %}?category={{ category.pk }}" class="btn btn-outline-purple">Добавить
                заметку</a>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for item in categories_tree %}
            <li class="breadcrumb-item"><a href="{{ item.get_absolute_url }}" class="text-purple">
                {{ item.title }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">{{ category.title }}</li>
        </ol>
    </nav>
</div>


{% endblock %}


{% block content %}

{% include 'wall/inc/_notes_list.html'%}

{% include 'wall/inc/_pagination.html' %}

{% endblock %}