{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Category' %}: {{ category.title }}{% endblock %}

{% block sidebar %}{% endblock %}


{% block content_title %}
    <div class="mb-3">
        <div class="hstack gap-3">
            <div>
                <h1>{% trans 'Category' %}: {{ category.title }}</h1>
            </div>
            <div>
                <a href="{% url 'add_note' %}?category={{ category.pk }}" class="btn btn-outline-purple">
                    {% trans 'Add note' %}</a>
            </div>
        </div>
        {% if categories_tree %}
            <nav aria-label="breadcrumb" class="mt-1">
                <ol class="breadcrumb">
                    {% for item in categories_tree %}
                        <li class="breadcrumb-item"><a href="{{ item.get_absolute_url }}" class="text-purple">
                            {{ item.title }}</a></li>
                    {% endfor %}
                    <li class="breadcrumb-item active" aria-current="page">{{ category.title }}</li>
                </ol>
            </nav>
        {% endif %}
    </div>
{% endblock %}


{% block content %}
    {% if children %}
        <div class="border border-purple border-1 rounded p-3 bg-white mb-3">
            <h2>{% trans 'Subcategories' %}:</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for item in children %}
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <div class="hstack gap-3">
                                    <div>
                                        {% if item.preview %}
                                            <img src="{{ item.preview.url }}" alt="" width="100px" class="rounded">
                                        {% else %}
                                        {% endif %}
                                    </div>
                                    <div>
                                        <h5><a href="{{ item.get_absolute_url }}"
                                               class="text-decoration-none text-purple stretched-link">{{ item.title }}</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% include 'wall/inc/_notes_list.html' %}

    {% include 'wall/inc/_pagination.html' %}

{% endblock %}