{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Edit profile' %}{% endblock %}

{% block sidebar %}{% endblock %}


{% block content_title %}
    <div class="hstack gap-3 mb-3">
        <div>
            <h1>{% trans 'Edit profile' %}</h1>
        </div>
        <div class="ms-auto">
            <a href="{% url 'change_password' %}" class="btn btn-outline-purple">{% trans 'Change password' %}</a>
        </div>
        <div>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteProfileModal">
                {% trans 'Delete profile' %}
            </button>
        </div>
    </div>

{% endblock %}

{% block content %}

    <form action="{% url 'edit_profile' %}" method="post">
        {% csrf_token %}
        <div class="border border-purple border-1 rounded p-3 bg-white mb-5">
            {{ user_form.as_p }}
            <button type="submit" class="btn btn-purple btn-block">{% trans 'Update' %}</button>
        </div>
    </form>


    <!-- deleteProfileModal -->
    <div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="deleteProfileModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProfileModalLabel">{% trans 'Deleting the profile' %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% trans 'Your profile and all your notes will be deleted forever! Continue?' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
                    <a class="btn btn-danger" href="{% url 'delete_profile' %}" role="button">{% trans 'Delete' %}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}