{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block sidebar %}{% endblock %}

{% block content_title %}Заметки{% endblock %}


{% block content %}

{% for item in notes %}
<div class="card">
    <div class="card-header">
        <div class="hstack gap-3">
            <div class=""><img src="{{ item.author.photo.url }}" alt="..." width="50" height="50"
                               style="border-radius: 25px;">
            </div>
            <div class=""><a href="#">{{ item.author.nickname }}</a></div>
            <div class="">{{ item.created_at }}</div>
            <div class="">!</div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.content }}</p>
        <a href="#" class="btn btn-primary">Открыть</a>
    </div>
    <div class="card-footer">
        <div class="hstack gap-3">
            <div class="">+5</div>
            <div class="">Категория: <a href="#">{{ item.category.title }}</a></div>

        </div>
    </div>
</div>
{% endfor %}


{% endblock %}