{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <div class="hstack gap-3">
            <div class=""><img src="https://picsum.photos/seed/picsum/200/300" alt="..." width="50" height="50"
                               style="border-radius: 5px;">
            </div>
            <div class=""><a href="#">nickname</a></div>
            <div class="">03.05.2022 08:47</div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer">
        <div class="hstack gap-3">
            <div class="">+5</div>
            <div class="">!</div>
        </div>
    </div>
</div>


{% endblock %}