{% extends 'base.html' %}
{% load wall_tags %}

{% block title %}Главная{% endblock %}

{% block sidebar %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Теги: </h4>
        <p class="fs-5">
            {% get_tags as tags %}
            {% for tag in tags %}
            <a href="{{ tag.get_absolute_url }}"
               class="badge rounded-pill text-bg-purple text-decoration-none me-1">
                {{ tag.title }}</a>
            {% endfor %}
        </p>
    </div>
</div>
{% endblock %}


{% block content_title %}
<div class="hstack gap-3 mb-3">
    <div>
        <h1>Заметки</h1>
    </div>
    <div>
        <a href="{% url 'random_note' %}" class="btn btn-outline-purple">Случайная заметка</a>
    </div>
</div>
{% endblock %}


{% block content %}

{% include 'wall/inc/_notes_list.html' %}

{% include 'wall/inc/_pagination.html' %}

{% endblock %}