{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Authorization' %}{% endblock %}

{% block sidebar %}{% endblock %}


{% block content_title %}
<div class="hstack gap-3 mb-3">
    <div>
        <h1>{% trans 'Authorization' %}</h1>
    </div>
</div>
{% endblock %}


{% block content %}
<form action="{% url 'login' %}" method="post" class="mb-3">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-purple btn-block">{% trans 'LogIn' %}</button>
</form>
{% endblock %}