{% load wall_tags %}
{% load i18n %}

<div class="card mb-3">
    <div class="card-header">
        <div class="hstack gap-3">
            <div class="">
                <img src="{% if note.author.photo %}
                {{ note.author.photo.url }}
                {% else %}
                {% load static %}
                {% static 'wall/img/default_avatar.png' %}
                {% endif %}" alt="..." width="50" height="50"
                     style="border-radius: 25px;">
            </div>
            <div class="fw-bold">
                {% if note.author %}
                <a href="{{ note.author.get_absolute_url }}" class="text-decoration-none text-purple">
                    {{ note.author.username }}</a>
                {% else %}
                Аноним
                {% endif %}
            </div>
            <div class="fw-light">
                {{ note.created_at|date:"d.m.Y H:i" }}
                {% if was_updated %}
                <span data-bs-toggle="tooltip"
                      title="{{ note.updated_at|date:'d.m.Y H:i' }}">
                    ({% trans 'Updated' %})</span>
                {% endif %}
            </div>
            {% if note.stared %}
            <div>
                <i class="fa fa-star"></i>
            </div>
            {% endif %}

            {% if not note.is_public %}
            <div>
                <span data-bs-toggle="tooltip"
                      title="{% trans 'PrivateNote' %}">
                    <i class="fa fa-eye-slash"></i>
                </span>
            </div>
            {% endif %}
            <div>
                {% for tag in note.tags.all %}
                <a href="{{ tag.get_absolute_url }}"
                   class="badge rounded-pill text-bg-purple text-decoration-none me-1">
                    {{ tag.title }}</a>
                {% endfor %}
            </div>
            <div class="ms-auto">
            </div>
            {% if in_profile and note.is_pined %}
            <div class="me-2">
                <span data-bs-toggle="tooltip"
                      title="{% trans 'PinedInProfile' %}">
                    <i class="fa fa-arrow-up"></i>
                </span>
            </div>
            {% endif %}
            {% if allow_edit %}
            <div>
                <span data-bs-toggle="tooltip"
                      title="{% trans 'Edit' %}">
                    <a href="{% url 'edit_note' note.pk %}" class="text-purple"><i class="fa fa-pencil"></i></a>
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="card-body" style="transform: rotate(0);">
        <h5 class="card-title">
            {% if show_full %}
            {{ note.title }}
            {% else %}
            {{ note.title|truncatewords:10 }}
            {% endif %}
        </h5>
        <p class="card-text">
            {% if show_full %}
            {{ note.content }}
            {% else %}
            {{ note.content|truncatewords:30 }}
            {% endif %}
        </p>

        {% if not show_full %}
        <a href="{{ note.get_absolute_url }}" class="btn btn-outline-purple stretched-link">{% trans 'ReadMore' %}</a>
        {% endif %}
    </div>

    <div class="card-footer">
        <div class="hstack gap-3">
            {% if note.rating > 0 %}
            <div class="text-success fw-bold">+{{note.rating}}</div>
            {% elif note.rating < 0 %}
            <div class="text-danger fw-bold">{{note.rating}}</div>
            {% else %}
            <div class="fw-bold">{{note.rating}}</div>
            {% endif %}


            {% if note.category %}
            <div><span class="">{% trans 'Category' %}: </span><a href="{{ note.category.get_absolute_url }}"
                                                                  class="text-decoration-none text-dark fw-bold">
                {{ note.category.title }}</a></div>
            {% endif %}
            <div class="ms-auto">{{ note.views }} {% trans 'Views' %}</div>
        </div>
        {% if show_full %}
        <div class="btn-toolbar justify-content-between mt-3" role="toolbar" aria-label="Toolbar with button groups">
            {% get_prev_note_in_category note as prev_note %}
            {% if prev_note %}
            <a href="
            {{ prev_note.get_absolute_url }}" class="btn btn-outline-purple">{% trans 'PreviousNote' %}</a>
            {% else %}
            <a href="#" class="btn btn-outline-purple disabled">{% trans 'PreviousNote' %}</a>
            {% endif %}

            {% get_next_note_in_category note as next_note %}
            {% if next_note %}
            <a href="{{ next_note.get_absolute_url }}" class="btn btn-outline-purple">{% trans 'NextNote' %}</a>
            {% else %}
            <a href="#" class="btn btn-outline-purple disabled">{% trans 'NextNote' %}</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>